.orange {
    background: orange;
}
.blue {
    background: blue;
}
.green {
    background: green;
}
.red {
    background: red;
}
.yellow {
    background: yellow;
}
.purple {
    background: purple;
}
.gray {
    background: gray;
}
